.response-feedback-success,.response-feedback-failure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: 80px;
    position: relative;
    
}

.response-feedback-success{
    background-color: rgb(136, 164, 114);
    border: 4px solid green;
    color: rgb(31, 109, 31);

}

.response-feedback-failure{
    background-color: rgb(221, 71, 60);
    border: 4px solid rgb(122, 3, 3);
    color: rgb(122, 3, 3);

}

.response-feedback-message{
    font-size: 24px;
    font-weight: 500;
    padding-left: 60px;
    padding-right: 60px;
    
}

.response-feedback-icon{
    width: 34px;
    height: 34px;
    object-fit: cover;
    position: absolute;
    left: 15px;
}