.component-types-filter-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}


.component-types-check-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    
}

.vendors-filter-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.vendors-list{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    overflow: scroll;
    max-height: 60p;
}