.user-data-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 35px;
    height: 316px;
    margin-bottom: 40px;
}

.user-data-form input{
    font-size: 24px;
}

.response-feedback-message-wrapper{
    margin-top: 20px;
}

.user-data-form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}