.shopping-cart-popup{
    width: 300px;
    height: 350px;
    position: absolute;
    top:50px;
    left: -84px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border: solid black 2px;
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: 0px 1px 10px  rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.shopping-cart-items-list{
    overflow:scroll;
    /* text-overflow: ellipsis; */
    width: 85%;
    height: 250px;
    max-height: 250px;
    padding: 10px;
    padding-bottom:0px;
    padding-top: 0px;
    margin-top: 5px;
    background-color: rgb(230, 227, 227);
    border-radius: 15px;
    margin-bottom: 0;
    
}

.shopping-cart-popup-top-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-top: 5px;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    
}

.shopping-cart-popup-top-bar p{
    padding: 0px;
    margin: 0;
    font-weight: 500;
    /* position: absolute; */
    /* right: 50%; */
    /* left: 32.5%; */
}

.shopping-cart-popup-bottom-bar{
    padding: 10px;
    overflow: hidden;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.shopping-cart-popup-bottom-bar p{
    padding: 0px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 6px;
    text-align: center;
}

.shopping-cart-popup-close-button{
    background-color: rgb(192, 190, 190);
    border-radius:50px;
    padding-left:5px;
    padding-right: 5px;
    position: absolute;
    right: 10px;
    box-shadow: none;
    border: 1px solid black;
    cursor: pointer;
}

.proceed-to-checkout-link{
    cursor: pointer;
    text-decoration: underline;

    margin-top: 8px;
    margin-bottom: 0px;
}