.shopping-cart-popup-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 100%;


    flex: 1;
}

.shopping-cart-items-list{
    overflow:scroll;
    /* text-overflow: ellipsis; */
    /* display: flex; */
    /* flex-direction: column; */
    max-width: 85%;
    height: 250px;
    max-height: 250px;
    padding: 10px;
    padding-bottom:0px;
    padding-top: 0px;
    margin-top: 9px;
    background-color: rgb(230, 227, 227);
    border-radius: 15px;
    margin-bottom: 0;
    
}

.no-items-warning{
    position: relative;
    top: 35%;
    justify-self: center;
}


.shopping-cart-popup-bottom-bar{
    padding: 10px;
    overflow: hidden;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.shopping-cart-popup-bottom-bar p{
    padding: 0px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 6px;
    text-align: center;
}


.proceed-to-checkout-link{
    cursor: pointer;
    text-decoration: underline;

    margin-top: 8px;
    margin-bottom: 0px;
}