.control-panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.control-panel img{
    height: 40px;
    width: 40px;
    object-fit: fill;
    cursor: pointer;
}



.currency-selector,.account-selector,.shopping-cart-selector{
    flex: 1;
    display: flex;
    align-items: center;
    height: 42px;

}

.currency-selector,.account-selector{
    /* background-color: rgb(224, 222, 222); */
    border-radius: 2px;
}

.currency-selector p:hover,.account-selector p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.background-gradient{
    background-image:linear-gradient(90deg, rgb(224, 222, 222) 77%, rgb(240, 236, 236) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.account-selector{
    flex: 1;
}

.shopping-cart-selector{
    flex: 1;
    padding-right: 20px;
    position: relative;
}

.shopping-cart-button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    
}
.shopping-cart-button :hover{
    background-color: rgba(0, 0, 0, 0);
}

.shopping-cart-icon-count{
    position: absolute;
    background-color: rgb(238, 107, 107);
    /* background-color: rgb(229, 226, 226); */
    border: solid black 2px;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    right: 8px;
    top: -6px;
}

.currency-selector{
 
    padding-right: 20px;
    border-left: 3px solid black;
    padding-left: 15px;
  
}

.user-name,.currency-name{
    margin-right: 10px;
    font-size: 20px;
}


/* .currency-icon{
   
   
} */

/* .cart-icon{
   
} */

/* .user-icon{
   
} */