.grid-item{
    /* border: 1px darkgray solid; */
    background-color: rgb(224, 222, 222);
    height: 600px;
    width: 444px;
    margin-bottom: 30px;
    margin-right: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    border-radius: 20px;
    /* padding: 4px; */
    box-shadow: 0px 1px 10px  rgba(0, 0, 0, 0.35);
}