.search-bar img{
    height: 26px;
    width: 26px;
    /* border: 1px solid black; */
    
}

.search-bar{
    display: flex;
}

.search-input{
    font-size: 16px;
    /* margin-left: 12px; */
    flex: 1;
    height: 36px;
    width: 300px;
    border-radius: 2px;
    padding-left: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-right: none;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.151)
}

.search-button{
    display: flex;
    border: 1px solid rgb(192, 192, 192);
    border-left: none;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    width: 40px;

}
