.header{
    display: flex;
    flex-direction: row;
    /* border: 1px red solid; */
    background-color: rgb(240, 236, 236);
    height: 70px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.header-mid-section,
.header-left-section,
.header-right-section{
    display: flex;
    height: 70px;
    /* border: 1px blue solid; */
    align-items: center;
    justify-content: center;

}

.header-right-section{
    padding-right: 40px;
}

.header-left-section{
    padding-left: 190px;
}
.header-mid-section{
    position: absolute;
    right: 50%;
    left: 50%;
}

.filter-icon{
    flex: 1;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
}

.filter-button{
    height: 40px;
    width: 40px;
    min-width: 40px;
    display: flex;   
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    cursor: pointer;
}

.filter-button:disabled{
    cursor:initial;
    background-color: rgb(167, 167, 167);
    border: 1px solid rgb(167, 167, 167);


}

.filter-popup-position{
    position: absolute;
    top:56px;
    left:30px;
}

.company-name{
    font-family: "Lobster";
    font-size: 40px;
    font-weight: 500;
    user-select: none;
}