.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 15px;
    height: 136px;
    /* margin-bottom: 10px */
}

.login-form input{
    font-size: 18px;
}

.login-form-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
}

.registration-link{
    margin-right: 10px;
}

.forgot-password-link{

}